
/* head section  */
body{
    margin: 0;
    padding: 0;
    font-family: 'Niramit', sans-serif;
}
*{
    box-sizing: border-box;
}
.header{
    background: #333333;
    padding: 25px;
}
li{
    list-style: none;
}
.header-icon{
    color:#00bcd4;
}
.sosial-icon{
    color:white;
    margin:7px;
    font-size: 17px;
}
ul{
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
    border-style: none;
    width: 184px;
}
.social-icons a i:hover{
    color: #00bcd4;
    transition: 0.4s;
}

.menu-a-items-1{
    color:#00bcd4;
}
.container .row a{
    text-decoration: none;
    transition: 0.3s;
}
.navbar-icon{
    color:black;
}

.container .row .navbar-icon:hover{
    text-decoration: #00bcd4;
}
@media (min-width: 1200px){
    .container{
        max-width: 1400px;
    }
}
/* /////head section */
/* navbar section */
.navbar-container{
    width:100%;
    height:100px;
    background:white;
    display:flex;
    flex-direction:row;
    -ms-flex-direction:row;
    align-items:center;
    padding-left:360px;
    position: relative;
}

.navbar-logo{
    width:10%;
    height:35%;
    position: relative;
}

.navbar-logo img{
    width:100% !important;
    height:100% !important;
    position: absolute;
    top:0;
    left:0;
}

.navbar-menu-area{
    width:60%;
    height:50%;
    display:flex;
    align-items:center;
    padding-left:100px;
}

.menu-item{
    display:block;
    width:10%;
    height:100%;
    /* background:black; */
    padding:0px 5px;
    font-size:13px;
    color:white;
    text-align:center;
    line-height:51px;
    margin-right:15px;
    /* position: relative; */
    cursor: pointer;
    white-space: nowrap;
}

.menu-item span{
    font-size:10px;
    transition:transform .3s ease-out;
}

.menu-item:hover{
    text-decoration: none;
}

.menu-item:hover span{
    transform:rotateZ(180deg);
}

.menu-item-dropdown{
    min-width:250px;
    height:auto;
    position: relative;
    left:0;
    top:calc(100% + 100px);
    background:white;
    display:flex;
    flex-direction:column;
    -ms-flex-direction:column;
    padding:20px;
    opacity:0;
    visibility: hidden;
    transition:all .3s ease-out;
}

.menu-item-dropdown .m-dropdown-item{
    display:block;
    text-align:left;
    height:40px;
    padding-left:20px;
    font-weight: 600;
    color:black;
    position: relative;
    transition:color .3s ease-out;
}

.menu-item.active .menu-content{
    color:#1abdd4 !important;
}

.menu-content{
    color:black;
}

.menu-content:hover{
    color:#1abdd4;
    transition:color .3s ease-out;
}

.m-dropdown-item:hover{
    color:#1abdd4;
}

.menu-item:hover .menu-item-dropdown{
    opacity:1;
    visibility: visible;
    top:-5px;
}

.mdi-dropdown{
    min-width:250px;
    height:auto;
    position:absolute;
    top:100px;
    left:calc(100% + 22px);
    background:white;
    display:flex;
    flex-direction: column;
    -ms-flex-direction: column;
    padding:20px 0px 20px 20px;
    opacity:0;
    visibility: hidden;
    transition:all .3s ease-out;
    z-index: 9999999;
    line-height: 38px;
}

.mdi-drop-item{
    display:block;
    color:black;
    transition:color .3s ease-out;
}

.mdi-drop-item:hover{
    color:#1abdd4;
}

.mdi-dropdown.left{
    left:calc(-100% - 60px) !important;
}

.m-dropdown-item:hover .mdi-dropdown{
    opacity:1;
    visibility: visible;
    top:0px;
}

.menu-item-fluid-dropdown{
    width:98%;
    height:350px;
    background:white;
    position: absolute;
    top:calc(100% + 100px);
    left:50%;
    transform:translateX(-50%);
    z-index: 9999999;
    display:flex;
    flex-direction: row;
    -ms-flex-direction: row;
    opacity:0;
    visibility: hidden;
    transition:all .3s ease-out;
}


.menu-item:hover .menu-item-fluid-dropdown{
    top:100%;
    opacity:1;
    visibility: visible;
}

.drop-sector{
    width:100%;
    height:350px;
    background:white;
    border-left:1px solid gray;
    position: relative;
    padding:40px;
    display:flex;
    flex-direction: column;
    -ms-flex-direction: column;
    overflow-y:auto;
}

.drop-sector:nth-child(1){
    border-left:none;
}

.sector-title{
    color:black;
    font-size:22px;
    text-align:left;
    padding-left:20px;
}

.sector-list-container{
    width:100%;
    height:auto;
    margin-top:20px;
}

.sl-item{
    width:100%;
    height:35px;
    padding-left:20px;
    text-align:left;
    color:black;
    line-height:35px;
    transition:color .3s ease-out;
}

.sl-item:hover{
    color:#1abdd4;
}

.search-container{
    width:20px;
    height:20px;
    position: absolute;
    right:360px;
    cursor:pointer;
}

.search-container img{
    width:100% !important;
    height:100% !important;
    position: absolute;
    top:0;
    left:0px;
}

.searchbar-container{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background:white;
    top:-100%;
    display:flex;
    flex-direction: row;
    -ms-flex-direction: row;
    justify-content: center;
    z-index: -1;
    opacity:0;
    transition:opacity 0.5s ease-out;
}

.searchbar-container input{
    width:95%;
    height:50%;
    color:#1abdd4;
    position: relative;
    top:50%;
    transform:translateY(-30%);
    border:none;
    font-weight: 600;
    font-size:30px;
    padding-left:360px;
}

.icons-area{
    width:150px;
    height:100%;
    position: relative;
    /* background:black; */
    display:flex;
    flex-direction: row;
    -ms-flex-direction: row;
}

.ia-sector{
    width:50%;
    height:100%;
    position: relative;
}


.ia-sector img{
    width:45px; 
    height:25px;
    position: absolute;
    left:50%;
    top:48%;
    border-right:1px solid gray;
    padding-right:20px;
    cursor:pointer;
}

.ia-sector i{
    color:white;
    font-size:38px;
    position: absolute;
    color:gray;
    left:50%;
    top:50%;
    transform:translate(-40%, -25%);
    cursor:pointer;
}


/* /////navbar section */

/* header img */
.header-img {
    width: 100%;
    height: 751px;
    background-image: url(img/slide-kreslo.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-text-2 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.hdr-1 {
    color: white;
    font-size: 70px;
    margin: 40px;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.hdr-2 {
    color: white;
    font-size: 20px;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.btn-1 {
    font-size: 14px;
    padding: 10px;
    padding-left: 22px;
    padding-right: 22px;
    background: #00bcd4;
    transition: .33s all ease;
    cursor: pointer;
    color: white;
    border: 0;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.btn-1:hover {
    background: black;
}

.header-buttom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/bg2.jpg);
    width: 100%;
    height: 170px;
}

.mother-2 {
    display: flex;
    width: 1200px;
}

.h2-1 {
    color: white;
    font-size: 30px;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}


.btn-2 {
    background: white;
    border: 0;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.btn-2:hover {
    background: black;
    color: white;
    transition: .33s all ease;
}

.second-secton {
    width: 100%;
    height: 1000px;
}

.second-header {
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
/* //////////////////// */
.hdr-3 {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 31px;
}

.border-mother {
    display: flex;
    justify-content: center;
}

.border {
    width: 60px;
    height: 3px;
    background: #00bcd4;
    margin: 15px;
}

.hb {
    width: 400px;
    height: 220px;
    margin-left:60px; 
    margin:30px;
}
.hb:hover{
    background: #00bcd4;
    color:white;
    transition: 0.5 ease;
}

.hb:hover i{
    color:white;
    transition: 0.5 ease;
}

.icon:hover 
.icon-child:hover{
    color:white;
    transition: 0.3s;
}

.icon-child{
    line-height: 1;
    color:#00bcd4;
    font-size: 30px;
}

.second-section-h3{
    font-size: 17px;
    padding: 10px;
}
/*************** about us **************/

 
@media (min-width: 1200px){
    .container{
        max-width: 1400px;
    }
}
.image-section{
    height: 800px;
    background-image: url(img/bg4.jpg);
    background-size: cover;
    z-index: 3;
}
.about-as{
    background-color: #F8F8F8;
}

.border-2{
    width: 60px;
    height: 1px;
    margin: 15px 0px;
    border: #00bcd4 solid 1px;
}
.report h1{
    font-size: 15px;
}
.result{
    width: 49%;
    border: 3px solid #1ABDD4;
    z-index: 99;
}
.result2{
    width: 29%;
    border: 3px solid #1ABDD4;
    z-index: 99;
}
.result3{
    width: 86%;
    border: 3px solid #1ABDD4;
    z-index: 99;
}
.result-border{
    width: 100%;
    border: #000 solid 1px;
    margin-top: -1px;
}
.text3{
    margin: 10px;
    color:grey;
}
.text3:hover{
    color: white;
}
p{
    color:gray;
}
.icon-us{
    color:#00bcd4;
    font-size: 32px;
}
.icon-us:hover{
    color:white;
}
.p-2{
    padding: 10px; 
}
.a-1{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.padding-7{
    color:grey;
}
.services-menu:hover .a-1{
    color:white;
}
.services-menu:hover{
    background: #00bcd4;
}
.services-menu:hover .icon-us{
    color: #fff;
}
/*************** /////about us **************/
/********** Work Section***********/
.work-section{
    margin-top: 250px;
    height: 1350px;
}
.work-sec{
    display: flex;
    justify-content: center;
}

.work-h1{
    font-size: 35px;
}


.work-section-mother{
    display: flex;
    justify-content: center;
}
.work-container{
    width: 1900px;
}
.work-img-1{
    width: 415px;
    height: 560px;
    margin-top: 40px;
    margin-right: 40px; 
}
.w-img{
    width: 415px;
    height: 300px;
} 
/* .img-6-section {
    position: relative;
    width: 50%;
  }

.img-6-section:hover{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .6s ease;
  }
  
  .img-6-section:hover .icon-img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  
  .icon-img{
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }  */ 
.img-a{
    margin-top: 20px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.img-p{
    text-align: center;
    color: gray;
}
.w-a1{
    text-align: center;
    color:#00bcd4;
}
.w-a1:hover{
    color:black;
}
/**************** ///Work Section***************/

/********************blue-section************* */
.blue-section{
    width: 100%;
    height: 350px;
    background: #00bcd4;
    display:flex;
    align-items: center;
}
.blue-section-child{
    width: 300px;
    height: 200px;
    float:left;
    margin:20px;
}
.blue-img{
    width: 70px;
    height: 70px;
    background: #00bcd4;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.number{
    color:white;
    font-size: 60px;
}
.blue-paragraf{
    color:white;
}
.blue-p-text{
    color: white;
    font-size:15px;
}
/* ************ /// blue-section ***************  */
/*************** Our-Ptoject ***************/
.our-project{
    width: 100%;
    height: 1000px;
    background: white;
}
.project-header{
    padding-top: 110px;
}
.project-h1{
    color:black;
    font-size: 30px;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.our-project-images{
    width: 100%;
    height: 900px;
}
.our-image{
    width: 300px;
    height: 350px;
    background:grey;
    margin: 20px;
}
.our-img{
    object-fit: none;
}
/* ******** ///Our Project********/
/* ********  Contact us********/
.contact-us{
    background-image: url(img/bg1.jpg);
    width: 100%;
    height: 350px;
    margin-top: 70px;
}
.contact-us-header{
    display: flex;
    justify-content: center;
    padding-top: 90px;
}
.contact-h2{
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}

/* ******** ////////Contact us***********/
/* ********Meet team section************ */
.meet-team-section{
    width: 100%;
    height: 800px;
    margin-top:80px;
}
.meet-h1{
    font-size: 30px;
    font-weight: bolder;
}
.meet-img{
    width: 418px;
    height: 650px;
    margin: 20px;
}
.boy-img{
    width: 418px;
    height: 315px;
}
.img-a{
    font-size: 15px;
    color: black;
    font-weight: bold;
}
.img-h{
    font-size: 18px;
    color:#00bcd4;
}
.p-i{
    text-align: center;
    color: gray;
}
/* ******** ////////Meet team section************ */
/******* Get A Quote *********/
.get-cont{
    background: #F8F8F8;
}
/******* //////Get A Quote *********/
/*********RECENT NEWS **********/
.recent-news{
    width: 100%;
    height: 800px;
    margin-top:800px;
}
.recent-h2 {
    font-weight: bold;
    font-size: 30px;
}

.recent-img{
    width: 418px;
    height: 600px;
    margin:20px;
}
.img-t:hover{
    color:#00bcd4;
}
.img-t{
    color: #333333;
}
.p-1{
    color:grey;
    font-size: 14px;
}
/* ********* ///RECENT NEWS ********** */
/* ****************WHAT PEOPLE SAY******** */
.people-say{
    background-image: url(img/bg3.jpg);
    background-position: center;
    width: 100%;
    height: 630px;
}
.people-header{
    color:white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 110px;
}
/* .avatar-img{
    width: 110px;
    height: 110px;
    background: #00ddff;
} */
.av-img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
}
.p-child{
    font-size: 20px;
    color:white;
    text-align: center;
}
/* **************** /////WHAT PEOPLE SAY******** */
/* ********** Our Clients********** */

.our-clients{
    width: 99%;
    height: 500px;
    padding-top:70px; 
    margin-bottom:100px;
}
.clients-h1{
    font-size: 30px;
    font-weight: bold;
}
.brands-section{
    width: 100%;
    height: 350px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    left:40px;
}
.brand{
    width: 180px;
    height: 130px;
}
.brands{
    width: 190px;
    height: 132px;
    margin: 20px;
    margin-left:90px; 
    display: flex;
    justify-content: center;
}
.brand:hover{
    width: 182px;
    height: 131px;
    color: #333;
}

/* ********** Our Clients********** */
 /***************Footer******** */
 .footer{
     width: 100%;
     height: 600px;
     background: #151515;
 }
 .id-l2{
     width: 270px;
 }
 .id-p{
     color: grey;
     font-size: 16px;
 }
 .id-h5{
     font-size:20px;
     color:white;
     font-weight: bold;
  
 }
 .id-a{
     font-size: 17px;
     color:#00bcd4;
     font-weight: bold;
 }
 .id-a:hover{
     color: #fff;
     transition: .3 ease;
 }
  /*************** //////Footer************** */
 /* map */
 .map{
     width: 650px;
     height: 650px;
     padding-left:0; 
     padding-right: 20px;
 }
 /* /////map */
/**************** footer-bottom ***************/
 .footer-bottom{
     width: 100%;
     height: 50px;
     background:#000;
     display: flex;
     justify-content: center;
 }
 .f-p{
     color:grey;
     font-size: 13px;
 }
 .right-radius{
     width: 50px;
     height: 50px;
     float: right;
     bottom: 40px;
     right: 40px;
     position: fixed;
     background: #00bcd4;
     border-radius: 50%;
     z-index: 20;
 }
 .axis{
     color:white;
     font-size: 25px;
     display: flex;
 }
 .right-radius:hover{
     background: #000;
     transform: .3 ease;
 }
